* {
    padding: 0;
    margin: 0;
}
/* Mobil-css */
body {
    height: 200vh;
}
.wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 15fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "he"
    "as"
    "ma"
    "fo";
}
header {
    grid-area: he;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 55%;
}
header img {
    height: 60%;
}
nav {
    display: none;
}
aside {
    grid-area: as;
    background-color: green;
}
main {
    grid-area: ma;
    background-color: cyan;
}
footer {
    grid-area: fo;
    background-color: hotpink;
}
/* Desktop och större skärmar */
@media screen and (min-width: 992px) {
    .wrapper {
        grid-template-rows: 1fr 1fr 1fr 15fr 1fr;
        grid-template-areas:
        "he"
        "na"
        "as"
        "ma"
        "fo";
    }
    nav {
        grid-area: na;
        display: block;
        background-color: lightgray;
    }
    header img {
        height: 80%;
    }
}
