@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}
/* Mobil-css */
body {
    height: 200vh;
}
.wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 15fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "he"
    "as"
    "ma"
    "fo";
}
header {
    grid-area: he;
    background-color: orange;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}
header img{
    height: 60%;
    padding-right: 5%;
}
header h2 {
    padding-right: 10px;
}
.menuVisible {
    display: none;
}
nav {
    display: none;
}
aside {
    grid-area: as;
    background-color: green;
}
main {
    grid-area: ma;
    background-color: cyan;
}
footer {
    grid-area: fo;
    display: flex;
    background-color: hotpink;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5%;
}
#contact_us {
    list-style: none ;
}
/* Desktop och större skärmar */
@media screen and (min-width: 992px) {
    .wrapper {
        grid-template-rows: 1fr 1fr 1fr 15fr 1fr;
        grid-template-areas:
        "he"
        "na"
        "as"
        "ma"
        "fo";
    }
    nav {
        grid-area: na;
        display: block;
        background-color: lightgray;
    }
    header img {
        height: 80%;
    }
}
