@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    transition: all 300ms;
    color: white;
}
/* Mobil-css */
body {
    height: 200vh;
    background-color: rgb(50, 50, 80);
}
.wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 15fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "he"
    "na"
    "ma"
    "fo";
}
header {
    grid-area: he;
    display: flex;
    justify-content: center;
}
.mobilenav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menuIcon {
    height: 50%;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
}
.menuIcon.toggleMenu {
    transform: scale(1.25);
}
.menuList {
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style: none;
    position: relative;
    top: -200%;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}
.menuToggle {
    position: relative;
    top: 0px;
}
aside {
    display: none;
}
nav {
    grid-area: na;
    position: sticky;
    top: -30px;
}
main {
    grid-area: ma;
}
footer {
    grid-area: fo;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5%;
}
#contact_us {
    list-style: none;
}
/* Desktop och större skärmar */
@media screen and (min-width: 992px) {
    .wrapper {
        grid-template-rows: 1fr 1fr 1fr 15fr 1fr;
        grid-template-areas:
        "he"
        "na"
        "as"
        "ma"
        "fo";
    }
    .menuList {
        transform: scale(1.25);
    }
    .menuIcon {
        height: 65%;
    }
    aside {
        grid-area: as;
        display: initial;
    }
}